#python==3.8
python==3.8.18
numpy
#numpy==1.23.5
pandas
#pandas==2.0.3
scikit-learn
#scikit-learn==1.3
pytest
requests
#requests==2.31.0
fastapi==0.63.0
uvicorn
gunicorn
httpx
#httpx==0.25.0
#joblib==1.3.0
joblib
flake8
pyrootutils
#jupyter
#jupyterlab